{# node--practicas.html.twig #}

<div class="container custom-formacion">
	<article {{attributes.addClass('node','node--type-practicas','clearfix')}}>
		<div class="row d-flex justify-content-center">
			<div class="col d-flex justify-content-center">
				<h3 class="text-center">{{ label }}</h3>
			</div>
		</div>
		<div class="card p-3 mb-3">
			<div class="card-body">
        <h5>Asignatura : {{ content.field_asignatura }}</h5>
        <h5>Periodo Académico: {{ content.field_periodo }}</h5>
        <h5>Corte: {{ content.field_corte }}</h5>
        <h5>Docente: {{ content.field_docente }}</h5>
      </div>
		</div>
    <div class="card p-3 mb-3">
			<div class="row">
				<div class="col">
					<h3>Documento Informe Docente</h3>
				</div>
			</div>
			{{ content.field_informe_docente }}
		</div>
    <div class="card p-3 mb-3">
			<div class="row">
				<div class="col">
					<h3>Anexos</h3>
				</div>
			</div>
			{{ content.field_anexos_id }}
		</div>
	</article>
</div>
