{# node--articulo.html.twig #}

<div class="container custom-formacion">
    <article {{attributes.addClass('node','node--type-articulo','clearfix')}}>
    
      <div class="content-wrapper">
        <div class="document-details">
          <div class="row">
            <div class="col-left">
              <div class="document-img">
                <div class="imgagge">
                  {{ content.field_imagen_de_portada_articulo }}
                </div>
                <div class="archivee">
                  <strong>Archivo:</strong>
                  {{ content.field_archivo }}
                </div>
                <div class="publication-date">
                    <strong>Fecha de publicación:</strong>
                    {{ content.field_fecha_articulo}}
                </div>
                <div class="authors">
                    <strong>Autor(es):</strong>
                    {{ content.field_autor_es_articulo }}
                </div>
              </div>
            </div>
            <div class="col-right">
              <div class="document-info">
                <div class="summary">
                  <strong>Resumen:</strong>
                  {{ content.field_resumen_articulo }}
                </div>
                <div class="content-type">
                  <strong>Tipo de contenido:</strong>
                  {{ content.field_tipo_de_contenido_articulo}}
                </div>
                <div class="publication">
                    <strong>Lugar de publicacion:</strong>
                    {{ content.field_lugar_de_publicacion}}
                  </div>
                <div class="program">
                  <strong>Programa:</strong>
                  {{ content.field_programa_articulo }}
                </div>
                <div class="axis">
                  <strong>Eje:</strong>
                  {{ content.field_eje_articulo }}
                </div>
                <div class="uri">
                  <strong>URI:</strong>
                  {{ content.field_uri_articulo }}
                </div>
                <div class="font-url">
                    <strong>Fuente:</strong>
                    {{ content.field_fuente_articulo }}
                  </div>
                <div class="metadata">
                  <strong>Metadatos:</strong>
                  {{ content.field_metadatos_articulo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </article>
  </div>
  