{# Archivo: themes/custom/tu-tema/templates/views-view--listado_de_contenido_trabajo_de_grado--page-1.html.twig #}

<div class="view-left-column">
    {# Imprime los filtros expuestos dentro de un formulario #}
    {% if exposed %}
      <div class="view-filters">
        <form action="{{ view.exposed.form.action }}" method="get" id="{{ view.exposed.form_id }}">
          {{ exposed }}
        </form>
      </div>
    {% endif %}
</div>

<!--<div class="d-flex justify-content-center custom-title-page">
  <div class="img-trabajosdegrado">
    <img src="/themes/custom/repo/assets/icons/documento.png" alt="Documentos Institucionales">
  </div>
</div>-->

<div class="view-right-column">
    <div class="contenedor">
        <div class="trabajo">
            <div class="imagen">
                {{ fields.field_portada_contenido.content }}
            </div>
            <div class="detalles">
                <h1>{{ fields.title.content }}</h1>
                <span class="codigo">{{ fields.field_codigo.content }}</span>
                <span class="semestre"> {{fields.field_semestre.content}}</span>
                <span class="programa">{{ fields.field_programas.content }} </span>
                <div class="resumen-container">
                  <span class="resumen">{{ fields.field_resumen.content }}</span>
                </div>
                <div class="operaciones-container">
                  <span class="operations">{{ fields.operations.content }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="operaciones-container">
      <span class="add-content">{{ fields.nothing.content }}</span>
    </div>
</div>
